.statis__list__item {
    width: 250px;
  }
  

  .statistics{
    position: relative;
    bottom: 150px;

    .container{
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 300px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        font-size: 24px;
        font-weight: 900;
        color: black !important;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        position: relative;
        -o-border-radius: 25px;
        .stat{
            font-size: 18px;
            font-weight: 900;
            position: absolute;
            top: 20px;
            
        }
        .statis__list{
            display: flex;
            gap: 150px !important;
        }
}
  }